In [1]:
from bs4 import BeautifulSoup
from splinter import Browser
import requests
import time
import pandas as pd

In [2]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text.
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [4]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [8]:
#print(soup.prettify())
news_title = soup.find('div', class_='content_title').text
news_p = soup.find('div', class_='article_teaser_body').text
print (news_title)
print (news_p)

For InSight, Dust Cleanings Will Yield New Science
Wind can be crucial to clearing dust from spacecraft solar panels on Mars. With InSight's meteorological sensors, scientists get their first measurements of wind and dust interacting "live" on the Martian surface.

In [6]:
results = soup.find_all('div', class_='list_text')
print (results[0])

<div class="list_text"><div class="list_date">May  6, 2019</div><div class="content_title"><a href="/news/8433/for-insight-dust-cleanings-will-yield-new-science/" target="_self">For InSight, Dust Cleanings Will Yield New Science</a></div><div class="article_teaser_body">Wind can be crucial to clearing dust from spacecraft solar panels on Mars. With InSight's meteorological sensors, scientists get their first measurements of wind and dust interacting "live" on the Martian surface.  </div></div>

In [7]:
# Latest News Title and Paragraph Text
news_title = results[0].find('div', class_="content_title").text
news_p = results[0].find('div', class_="article_teaser_body").text
print (news_title)
print (news_p)

For InSight, Dust Cleanings Will Yield New Science
Wind can be crucial to clearing dust from spacecraft solar panels on Mars. With InSight's meteorological sensors, scientists get their first measurements of wind and dust interacting "live" on the Martian surface.

In [11]:
# JPL Mars Space Images - Featured Image
# Visit the url for JPL Featured Space Image 
# https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars.
# Use splinter to navigate the site and 
# find the image url for the current Featured Mars Image and 
# assign the url string to a variable called featured_image_url.
# Make sure to find the image url to the full size .jpg image.
# Make sure to save a complete url string for this image.
image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(image_url)

In [12]:
browser.click_link_by_partial_text('FULL IMAGE')

In [13]:
time.sleep(5)
browser.click_link_by_partial_text('more info')

In [14]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
img_url = soup.find('img', class_='main_image').get('src')
print(img_url)

/spaceimages/images/largesize/PIA15883_hires.jpg

In [15]:
featured_image_url = "https://www.jpl.nasa.gov" + img_url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA15883_hires.jpg

In [16]:
# Mars Weather
# Visit the Mars Weather twitter account 
# https://twitter.com/marswxreport?lang=en and 
# scrape the latest Mars weather tweet from the page. 
# Save the tweet text for the weather report as a variable called mars_weather.
mars_twitter_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(mars_twitter_url)

In [34]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
mars_weather = soup.find('p', class_='TweetTextSize').text
tweet_link = soup.find('a', class_='twitter-timeline-link').text
mars_weather = mars_weather.replace(tweet_link,'')
print(mars_weather)

InSight sol 159 (2019-05-08) low -100.3ºC (-148.5ºF) high -21.6ºC (-6.9ºF)
winds from the SW at 4.6 m/s (10.4 mph) gusting to 15.3 m/s (34.2 mph)
pressure at 7.40 hPa

In [76]:
# Mars Facts

# Visit the Mars Facts webpage https://space-facts.com/mars/ and 
# use Pandas to scrape the table containing facts about the planet 
# including Diameter, Mass, etc.
facts_url = "https://space-facts.com/mars/"
browser.visit(facts_url)

In [77]:
tables = pd.read_html(facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [78]:
mars_facts_df = tables[0]
mars_facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [79]:
mars_facts_df.rename(columns = {0:'Description',1:'Value'}, inplace=True)
mars_facts_df.set_index('Description', inplace=True)
mars_facts_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [80]:
# Use Pandas to convert the data to a HTML table string.
mars_facts_html = mars_facts_df.to_html()
# strip unwanted newlines to clean up the table
mars_facts_html.replace('\n', '')
mars_facts_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [81]:
mars_facts_df.to_html('mars_facts.html')

In [85]:
# Mars Hemispheres

# Visit the USGS Astrogeology site 
# https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars 
# to obtain high resolution images for each of Mar's hemispheres.
usgs_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(usgs_url)

In [83]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
# You will need to click each of the links to the hemispheres in order to find the 
# image url to the full resolution image.
# Save both the image url string for the full resolution hemisphere image, 
# and the Hemisphere title containing the hemisphere name. 

# Use a Python dictionary to store the data using the keys img_url and title.
# Append the dictionary with the image url string and the hemisphere title to a list. 
# This list will contain one dictionary for each hemisphere.
hemispheres_image_urls = []